[Unit]
Description=Pucket Pi Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/pucket-puzzle/game_time.py > /var/log/pucket-puzzle.log 2>&1

[Install]
WantedBy=multi-user.target